apiVersion: v1
kind: Secret
metadata:
  name: mysql-secrets
type: Opaque
stringData:
  MYSQL_USER: "appuser"
  MYSQL_PASSWORD: "your_strong_password_here"
  MYSQL_DATABASE: "azzadb"
  MYSQL_ROOT_PASSWORD: "your_root_password_here"
