#webapp-service.yaml

apiVersion: v1
kind: Service
metadata:
  name: webapp-service
  labels:
    app: webapp
spec:
  type: LoadBalancer
  selector:
    app: webapp
  ports:
    - name: http
      port: 80         # Port exposed internally in the cluster
      targetPort: 80   # Port exposed by the container
