apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: webapp
        image: selconyt/depi-project-webapp:v1.6  # حط هنا اسم الصورة اللي عملتها
        env:
        - name: DB_SERVERNAME
          value: "mysql"
        - name: DB_USERNAME
          value: "appuser"
        - name: DB_PASSWORD
          value: "AppU$erP@ss!2025"
        - name: DB_DBNAME
          value: "azzadb_new"
        ports:
        - containerPort: 80
