#webapp-deployment.yaml

apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: webapp
        image: 073343496324.dkr.ecr.us-west-2.amazonaws.com/my-app:18        # حط هنا اسم الصورة اللي عملتها
        envFrom:
        - secretRef:
            name: webapp-creds
        ports:
        - containerPort: 80
      imagePullSecrets:
        - name: ecr-secret

