apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
  labels:
    app: webapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      initContainers:
      - name: wait-for-mysql
        image: mysql:8.0
        envFrom:
        - secretRef:
            name: webapp-secrets
        command: ['sh', '-c']
        args:
        - |
          echo "⏳ Waiting for MySQL...";
          until mysqladmin ping -h mysql -u"$$DB_USERNAME" -p"$$DB_PASSWORD" --silent; do
            sleep 3;
          done;
          echo "✅ MySQL ready.";
      containers:
      - name: webapp
        image: selconyt/depi-project-webapp:v1.6
        ports:
        - containerPort: 80
        envFrom:
        - secretRef:
            name: webapp-secrets
        volumeMounts:
        - name: webapp-code
          mountPath: /var/www/html
        livenessProbe:
          httpGet:
            path: /index.php
            port: 80
          initialDelaySeconds: 20
          periodSeconds: 15
        readinessProbe:
          httpGet:
            path: /index.php
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
      volumes:
      - name: webapp-code
        configMap:
          name: webapp-files
